*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  
    min-height: 100vh;
    font-family: 'Finger Paint', cursive;
    font-size: 16px;
}



a{
    text-decoration: none;
}

@import './routes/home/home-component.styles.scss';
@import './components/home-title/home-title.style.scss';
@import './components/random-dogs-item/random-dogs-item.style.scss';
@import './routes/navigation/navigation-component.style.scss' ;
@import './components/breeds/breeds.style.scss';
@import './components/searchBar/search-bar.styles.scss';
@import './components/currentBreeds/current-breed.style.scss';