.main-image-list-container{
   list-style: none;
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
   position: relative;
   margin-top: 30px;


   &__singe-image{
    width: 430px;
    height: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    transition: all .3s ;

    &:hover{
        outline: 10px solid white;
        outline-offset: 10px;
        box-shadow: 1px 1px 20px 7px #000000;

        
    @media (max-width:980px){
        outline: none;
    }
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

   }
   
}
